<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<title><%=title%></title>
	<link rel="icon" href="/server-folder.png?lglong519=1">
	<link rel="stylesheet" href="/css/style.min.css?lglong519=1">
	<script>
		var _hmt = _hmt || [];
		(function() {
		var hm = document.createElement("script");
		// <%if(MODE=="development" || MODE=="production"){%>
			hm.src = "https://hm.baidu.com/hm.js?871ede6b358cfa358838b64c93f354e3";
		// <%}else{%>
			hm.src = "https://hm.baidu.com/hm.js?964d84e610a3360adb9be7dbfb32871c";
		// <%}%>
		var s = document.getElementsByTagName("script")[0]; 
		s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<%if(MODE=="development" || MODE=="production"){%>
		<script src="http://dev.mofunc.com/services/accesses/service"></script>
	<%}else{%>
		<script src="http://127.0.0.1:50901/services/accesses/service"></script>
	<%}%>
</head>

<body ondragstart ="return false">
	<div class="comtainer">
		<form action="/upload" id="upform" onsubmit="return checkVal()" method="post" enctype="multipart/form-data">
			<!--注意此处的name和后端files的属性对应-->
			<div class="flex-column align-stretch btngroup border-bottom">
					<div class="border-bottom waiting c-c">
						待传文件：<span id='fileName' class="c-r">无</span>
					</div>
					<div class="flex-row align-center justify-between flex">
						<div class="upload" title='选择要上传的文件'>
							<input id='upload' class='select-btn' type="file" name="anything" multiple="multiple" value='选择上传文件'>
							<span>选择文件</span>
						</div>
						<div>
							<input type="submit" value="上传" title='上传已选择文件' class="upload-btn disabled" id='confirm'>
							<input type="reset" value="重置" title='清空选择文件' class="upload-btn reset disabled" id='reset'>
						</div>
					</div>
					<div class="crud-box">
						<div class="crud" id="crud">
							<input type="button" value="+文件夹" title='新建文件夹' class="create-btn" id='newFolder'>
							<input type="button" value="+写入" title='将信息写入[新建|选中]文件' class="create-btn reset" id='newFile'>
							<input type="button" value="下载" title='下载文件/夹' class="create-btn download" id='download'>
							<input type="button" value="重命名" title='重命名选中文件' class="create-btn rename" id='renameFile'>
							<input type="button" value="删除" title='删除选中文件' class="create-btn delete" id='deleteFile'>
							<input type="button" value="取消" title='清空选择' class="create-btn cancel" id='cancel'>
						</div>
					</div>
			</div>
		</form>
		<img src='/more-vertical.svg?lglong519=1' class="create-btn more" id='more' title='排序'>
		<ul class='sort' id='sort'>
			<li><a href="?sort=-type" id='sorttype'>文件/文件夹</a></li>
			<li class="active"><a href="?sort=-name" id='sortname'>名称</a></li>
			<li><a href="?sort=mtime" id='sortmtime'>时间</a></li>
			<li><a href="?sort=size" id='sortsize'>大小</a></li>
		</ul>
		<div class="crumbs border-bottom">
			<% if (crumbs.length>1){%>
				<a class="directory" href="<%=crumbs[crumbs.length-2][1]%>">
					<span>上一级</span>
				</a>
				<span class="placeholder">|</span>
				<a class="directory" href="/">
					全部文件
				</a>
				<%for(var j=1;j<crumbs.length;j++){%>
					<span class="placeholder">></span>
					<% if (j<crumbs.length-1){%>
						<a class="directory" href="<%=crumbs[j][1]%>"><%=crumbs[j][0] %></a>
					<%}else{%>
						<span>
							<%=crumbs[j][0] %>
						</span>
					<%}%>
				<%}%>
			<%}else{%>
				<span>全部文件</span>
			<%}%>
		</div>
		<ol class='files border-bottom'>
			<%for(var i=0,b=0;i<list.length;i++){%>
					<% stripe=i%2==0?'stripe c-p':'c-b'%>
					<li>
						<% b=i<9?'0'+(i+1):i+1 %>
						<a class="flex-row align-center <%=stripe%>" href="<%=list[i].link%>" target="<%=list[i].target%>">
							<span class="mx-3"><%=b%></span>

							<div class="img-box">
									<% if (list[i].target=='_self') { %>
										<img class="img-small" src="/server-folder.svg?lglong519=1" />
									<% }else{ %>
										<% if (/(jpg|gif|png|jpeg|ico|svg)$/i.test(list[i].name)) { %>
											<img class="img-small" src="<%=list[i].thumb%>?lglong519=1" />
										<% }else{ %>
											<img class="img-small" src="/server-file-b.svg?lglong519=1" />
										<% } %>
									<% } %>
							</div>

							<div class="details flex flex-row align-center">
								<div class="flex">
									<div class="file-name"><%=list[i].name%></div>
									<div class="info flex-row justify-between">
										<span><%=list[i].size%></span>
										<% if(list[i].files){%>
											<span class="flex text-center" title='子文件数量'>_<%=list[i].files%>_</span>
										<%}%>
										<span class="mtime text-right" title='修改时间'><%=list[i].mtime%></span>
									</div>
								</div>
							</div>
							<div class="check-box ml-1" title='选中文件'>
								<span class="check-btn"></span>
							</div>
						</a>
					</li>
				<%}%>
		</ol>
		<% if (list.length==0) { %>
			<h1 class="empty">Empty</h1>
		<% } %>
		<div id="processing">0%</div>
		<div id='qrcodeSmall' class="qrcode-small" title='打开二维码'>
			<img src="/server-qrcode.svg?lglong519=1" alt="qrcode">
		</div>
	</div>
	<input type="hidden" value="<%=requestUrl%>" id='requestUrl'/>
	<div class="toast" id='toast'>创建成功</div>
	<div id="qrcode" class="qrcode">
		<div class="mask">
			<img src="/server-check.svg?lglong519=1" alt="">
		</div>
	</div>
	<div class="load-effect" id="loadEffect" title='上传中'>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<script src="/js/socket.io.js?lglong519=1"></script>
	<script src="/js/qrcode.js?lglong519=1"></script>
	<script src="/js/request.min.js?lglong519=1"></script>
	<script>
		window.socket = io.connect('<%=ioUrl%>');
		var num=0;
		socket.on('reconnecting',function(){
			console.error('IO reconnecting',++num,new Date());
		});
		socket.on('reconnect',function(){
			console.clear(num=0);
			console.warn('%cIO reconnect','color:green;font-size:20px;',new Date());
		});
</script>
	<script src="/js/index.min.js?lglong519=1"></script>
</body>

</html>