<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Localdisk</title>
	<link rel="icon" href="/folder.png">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="comtainer">
		<form action="/upload" id="upform" onsubmit="return checkVal()" method="post" enctype="multipart/form-data">
			<!--注意此处的name和后端files的属性对应-->
			<div class="flex-column align-stretch btngroup border-bottom">
					<div class="border-bottom waiting c-c">
						待传文件：<span id='fileName' class="c-r">无</span>
					</div>
					<div class="flex-row align-center justify-between flex">
						<div class="upload">
							<input id='upload' class='select-btn' type="file" name="anything" multiple="multiple" value='选择上传文件'>
							<span class="c-y">选择文件</span>
						</div>
						<div>
							<input type="submit" value="上传" class="upload-btn disabled" id='confirm'>
							<input type="reset" value="重置" class="upload-btn reset disabled" id='reset'>
						</div>
					</div>
					<div class="crud-box">
						<div class="crud" id="crud">
							<input type="button" value="+文件夹" class="create-btn" id='newFolder'>
							<input type="button" value="+写入" class="create-btn reset" id='newFile'>
							<input type="button" value="重命名" class="create-btn rename" id='renameFile'>
							<input type="button" value="删除" class="create-btn delete" id='deleteFile'>
							<input type="button" value="取消" class="create-btn cancel" id='cancel'>
						</div>
					</div>
			</div>
		</form>
		<div class="crumbs border-bottom">
			<% if (crumbs.length>1){%>
				<a class="directory" href="<%=crumbs[crumbs.length-2][1]%>">
					<span>上一级</span>
				</a>
				<span class="placeholder">|</span>
				<a class="directory" href="/">
					全部文件
				</a>
				<%for(var j=1;j<crumbs.length;j++){%>
					<span class="placeholder">></span>
					<% if (j<crumbs.length-1){%>
						<a class="directory" href="<%=crumbs[j][1]%>"><%=crumbs[j][0] %></a>
					<%}else{%>
						<span>
							<%=crumbs[j][0] %>
						</span>
					<%}%>
				<%}%>
			<%}else{%>
				<span>全部文件</span>
			<%}%>
		</div>
		<ol class='files border-bottom'>
			<%for(var i=0,b=0;i<list.length;i++){%>
					<% stripe=i%2==0?'stripe c-p':'c-b'%>
					<li>
						<% b=i<9?'0'+(i+1):i+1 %>
						<a class="flex-row align-center <%=stripe%>" href="<%=list[i].link%>" target="<%=list[i].target%>">
							<span class="mx-3"><%=b%></span>

							<div class="img-box">
									<% if (list[i].target=='_self') { %>
										<img class="img-small" src="/folder.svg" />
									<% }else{ %>
										<% if (/(jpg|gif|png|jpeg|ico|svg)$/i.test(list[i].name)) { %>
											<img class="img-small" src="<%=list[i].link%>" />
										<% }else{ %>
											<img class="img-small" src="/file-b.svg" />
										<% } %>
									<% } %>
							</div>

							<div class="details flex flex-row align-center">
								<div class="flex">
									<div class="file-name"><%=list[i].name%></div>
									<div class="info flex-row justify-between">
										<span><%=list[i].size%></span>
										<% if(list[i].files){%>
											<span class="flex text-center">_<%=list[i].files%>_</span>
										<%}%>
										<span class="mtime text-right"><%=list[i].mtime%></span>
									</div>
								</div>
							</div>
							<div class="check-box ml-1 mr-2">
								<span class="check-btn"></span>
							</div>
						</a>
					</li>
				<%}%>
		</ol>
		<% if (list.length==0) { %>
			<h1 class="empty">Empty</h1>
		<% } %>
		<div id="processing">0%</div>
		<div id='qrcodeSmall' class="qrcode-small">
			<img src="/qrcode.svg" alt="">
		</div>
	</div>
	<input type="hidden" value="<%=requestUrl%>" id='requestUrl'/>
	<div class="toast" id='toast'>创建成功</div>
	<div id="qrcode" class="qrcode"></div>
	<script src="/js/socket.io.js"></script>
	<script src="/js/qrcode.js"></script>
	<script src="/js/request.js"></script>
	<script>
		window.socket = io.connect('<%=ioUrl%>');
</script>
	<script src="/js/upload.js"></script>
</body>

</html>